@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;800&family=PT+Sans:wght@400;700&family=Poppins&family=Redressed&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'gilmer-gold';
    src: url(./Gilmer\ Bold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    line-height: 1.6;
    font-size: 16px;
    /* background: #E6E7E8; */
    background: #ffffff;
    color: #08095B;
    width: 100%;
}
a, a:active, a:hover, a:focus{
    text-decoration: none;
    outline: 0;
}
.noSelect { 
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-tap-highlight-color: transparent; 
}
.showcase {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    background: url(./Images/Desktop\ -\ 2.png);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 4rem;
    overflow: hidden;
}
.nav-container {
    display: flex;
    justify-content: space-around;
    /* background-color: #f4f4f4; */
    align-items: center;
    max-width: 100%;
    min-height: 60px;
    margin: 30px 0px;
    margin-bottom: 0;
    /* box-shadow: 0px 0px 2px rgba(238, 237, 237, 0.897), 0px 0px 2px rgba(255, 255, 255, 0.911); */
    border-radius: 5px;
    overflow: hidden;
    color: #121212 !important;
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    align-content: center;
    min-width: 220px;
}
.nav-bar li {
    font-size: 14px;
}
.nav-bar li a {
    color: #121212;
    font-weight: 500;
}
.nav-bar li a:hover {
    color: #32ff98;
}
.logo-main {
   position: absolute;
   margin: 0;
}
.logo-main img{
    object-position: center;
    object-fit: cover;
    width: 100px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.content-text {
    position: relative;
    text-align: left;
    flex-basis: 60%;
}
.content h1 {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4rem;
    overflow: hidden;
    text-align: left;
    margin-bottom: 1rem;
}
.content p {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-self: flex-start;
    min-width: 200px;
    max-width: 600px;
    align-self: flex-start;
    font-size: 16px;
    margin-bottom: 1rem;
}
.content button, .quick-links button {
    color: #08095B; 
    font-weight: 600;
    width: 200px;
    outline: none;
    background-color:#32FF99;
    border: 2px solid #32FF99;
    padding: 1rem;
    border-radius: 5px;
    transition: .5s ease;
    margin: 1rem 0;
    margin-bottom: 0;
}
.content button:hover, .quick-links button {
    background-color: transparent;
    color: #08095B;
}
.content-img {
    overflow: hidden;
    align-self: center;
    flex-basis: 40%;
}
.content-img img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
    align-items: center;
    align-self: center;
    transition: 2s;
}
@media screen and (min-width: 970px) {
    .showcase {
        min-height: 640px !important;
    }
    .nav-container {
        max-height: 70px;
        background-color: transparent !important;
    }
    .nav-bar ul{
        display: flex !important;
    }
}
@media screen and (max-width: 960px) {
    .showcase {
        min-height: 100vh;
        padding:  0 2rem;;
    }
    .content-text h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}
@media screen and (max-width: 760px) {
    .showcase  {
        background-image: url(./Images/Android\ -\ 1.png);
        padding: 0 1rem;
        padding-bottom: 0rem;
        justify-content: space-between;
    }
    .nav-container {
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px 0rem;
        margin-bottom: 0;
        overflow: hidden;
        transition: all 1s ease;
    }
    .nav-bar.nav-active  {
        margin-top: 4rem;
        display: none;
        visibility: hidden;
    }
    .nav-bar.nav-active-bottom {
        margin-bottom: 4rem;
        display: none;
        visibility: hidden;
    }
    .logo-main {
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }
    .logo-main img {
        width: 60px;
    }
    .nav-bar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-bar li {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .nav-bar li a{
        font-size: 16px;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: -15px;
        left: 2px;
        cursor: pointer;
        z-index: 2;
        overflow: hidden;
    }
    .burger {
        font-size: 4rem;
        color: #08095B;
    }
    .burger:hover {
        color: #32ff98;
    }
    .content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        padding: 8px;
    }
    .content-text {
        text-align: center;
        margin-top: 2.8rem;
        overflow: hidden;
    }
    .content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;
        line-height: 3rem;
        margin-top: 2rem;
    }
    .content p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        max-width: 500px;
        animation-delay: .25s;
    }

    .content-img{
        min-width: 100%;
        margin-bottom: 2rem;
    }
    .content button {
        padding: 12px;
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 560px){
    .logo-main img {
        width: 50px;
    }
    .showcase {
        padding: 10px;
    }
    .content h1 {
        font-size: 2.2rem;
        line-height: default;
        font-weight: bolder;
        padding: 0;
    }
    .hamburger {
        top: -10px;
    }
    .burger {
        font-size: 3rem;
    }
}
.about-container {
    background-color: #ffffff;
    color: #08095B;
    min-height: 70vh;
    padding: 1rem;
    border-top: 3px solid #08095b73;
    overflow: hidden;
}
.about {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    margin: 10px;
    overflow: hidden;
}
.about-silicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    margin: 1rem;
}
.about-img {
    flex-basis: 35%;
    margin-top: 2rem;
}
.about-img img {
    width: 100%;
}
.about-text {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-basis: 50%;
    text-align: left;
    box-shadow: 0px 0px 5px rgba(168, 168, 168, 0.5), 0px 0px 2px rgba(167, 167, 167, 0.5);
    border-radius: 10px;
    padding: 2rem 2rem;
    margin: 1rem 1rem;
    transition: all 0.4s ease;
    position: relative;
}

.about-text img{
    width: 60px;
    margin-left: auto;
    opacity: 0.3;
}
.why-silicio-container img {
    width: 60px;
    margin-right: auto;
    opacity: 0.3;
}
.about-text-header, .why-silicio-header {
    display: flex;  
    align-items: center;
    text-align: center;
    min-width: 100%;
}
.about-text-header div, .why-silicio-header div {
    display: flex;
    background-color: #32ff98;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 1rem;
}
.about-text-header h2 {
    font-size: 26px; 
    text-align: right;
    max-width: 100%;
    word-wrap: normal;
}
.about-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.why-silicio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 1rem;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 5px rgba(168, 168, 168, 0.5), 0px 0px 2px rgba(167, 167, 167, 0.5);
    border-radius: 10px;
    padding: 2rem 2rem;
    position: relative;
    margin: 1rem;
    transition: all 0.4s ease;
}
.why-silicio-header div {
    margin: 0;
    margin-left: auto;
    margin-right: 1rem;
}
.why-silicio-container p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.read-more-text {
    display: none;
}
.about-text.read-active .read-more-text{
    display: block;
    transition: all 0.4s ease;
}   
.why-silicio-container.read-active .read-more-text{
    display: block;
    transition: all 0.4s ease;
}  
.read-more-btn {
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    color: #32ff98;
    font-size: 14px;
    margin-top: 2px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.why-silicio-container .read-more-btn {
    align-self: flex-end;
}
@media screen and (min-width: 860px) {
    .about-container {
        margin: 0;
        padding: 4rem 0;
    }
    .about {
        flex-basis: 70%;
    }
    .about-silicio {
        padding: 0;
        position: relative;
    }
    .about-img {
        flex-basis: 30%;
        margin-left: 2rem;
    }
    .about-text, .why-silicio-container {
        max-width: 400px;
        min-height: 250px;
    }
    .about-text {
        position: absolute;
        top: 10px;
        transform: translateX(-60%);
    }
    .about-text.silicio-target {
        position: relative;
        margin-top: 350px;
    }
    .why-silicio-container {
        position: absolute;
        right: 2rem;
        bottom: 125px;
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        margin: 0;
        padding: 2rem 0;
    }
    .about-silicio {
        flex-direction: column-reverse;
        padding: 10px;
        margin: 5px;
        margin-top: 2rem;
    }
    .about {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .about-img {
        flex-basis: 50%;
        padding: 1rem 3rem;
    }
    .about-text {
        margin: 1rem 5px;
        padding-right: 1rem;
    }
    .about-text-header h2 {
        font-size: 26px;
    }
    .why-silicio-container {
        margin: 5px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
    }
}
@media screen and (max-width: 328px) {
    .about-text, .why-silicio-container {
        padding: 2rem 1rem;
    }
    .about-silicio {
        padding: 5px;
    }
}
.programming-areas-container {
    display: flex;
    flex-direction: column;
    background-color: #02031f;
    color: #f4f4f4;
    padding: 0 4rem;
    margin: 4rem 0;
    min-height: 100%;
}
.programming-area-header, .mentors-header  {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
}
.programming-area-header h2,  .mentors-header  h2, .faq-header h2 {
    font-size: 26px !important; 
}
.programming-area-header p,  .mentors-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.available-areas {
    display: flex;
    overflow: hidden;
    margin-top: 4rem;
}
.interval {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55px;
    overflow: hidden;
}
.scroll-anime {
    width: 3px;
    height: 100% !important;
    background-color: #f4f4f4;
    margin: 10px 0;
    justify-self: center;
    align-self: center;
}
.interval p {

    margin: auto;
    background-color: #32ff98;
    padding: 10px;
    width: 10px;
    border-radius: 50%;
    height: fit-content;
    height: max-content;
    overflow: hidden;
}
.programs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: center;
    align-items: center;
    overflow: hidden !important;
}
.program {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 5px;
    position: relative;
    background-color:   #ffffff15;
}
.program:hover {
    background-color:   #ffffff3b;
    transition: 0.2s ease-in;
    transform: scale(1.01) !important;
}
.program h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.program p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.program a {
    color: #32ff988c;
    font-weight: 600;
}
.program a:hover {
    color: #08095B;
}
.program div {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: fit-content;
    margin-bottom: 1rem;
}
.program img {
    width: 3rem;
    transition: all 0.4s ease-in;
    filter: invert(18%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    opacity: 0.8;
}
.program img:hover {
    transition: all 0.4s ease-in;
    opacity: 0.5;
    opacity: 0.3;
}
.program .iconify {
    font-size: 4rem;
    margin-top: 20px;
}
@media screen and (min-width: 960px) {
    .programming-areas-container {
        margin-top: 0;
    }
    .programs {
        padding: 0 5px;
    }
    .scroll-anime {
        max-height: 75%;
    }
}
@media screen and (max-width: 760px) {
    .programs {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-column-gap: 0rem !important;
        column-gap: 1rem;
        row-gap: 1rem !important;
    }
    .programming-areas-container {
        padding: 4rem 1.5rem;
        padding-top: 0;
        margin-top: 0;
    }
    /* .programming-area-header {
        padding: 0 1rem;
    } */
    .programming-area-header h2,  .mentors-header  h2 {
        font-size: 20px;
    }
    .programming-area-header p,  .mentors-header p {
        font-size: 12px;
        margin-top: 1rem;
    }
    .program {
        margin: 10px 5px;
    }
    .program p {
        font-size: 12px;
    }
}
@media screen and (max-width: 560px) {
    .program {
        margin: 10px 5px;
    }
}
@media screen and (max-width: 520px) {
    .programming-areas-container {
        padding: 1rem;
    }
    .program {
        margin: 10px 5px;
    }
}
@media screen and (max-width: 460px) {
    .programming-areas-container {
        padding: 1rem;
    }
    .program {
        margin: 10px 5px;
    }
    .interval {
        width: 45px;
    }
    .interval p {
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) {
    .interval {
        width: 40px;
    }
    .program {
        margin: 10px 5px;
    }
    .program p {
        font-size: 12px;
    }
}
@media screen and (max-width: 350px) {
    .program {
        margin: 10px 5px;
    }
}
.months-container {
    width: 100%;
}
.months-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: #10101edc !important;
    background-image: url(./Images/bg4.jpg) !important;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 400px;
    color: #f6f6f6;
    text-align: right;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px rgba(158, 158, 158, 0.897), 0px 0px 2px rgba(255, 255, 255, 0.911);
    font-family: 'Poppins', sans-serif;
}
.months-container div h1 {
    font-size: 3rem;
    text-align: center;
    align-items: center;
}
.months-container div img {
    width: 2rem;
    align-self: center;
    color: #32ff98;
}
.months-container div p {
    text-align: center;
    padding: 0 3rem;
    font-weight: 600;
}
@media screen and (min-width: 800px) {
    .months-container div{
        width: 100%;
        min-height: 350px;
        /* border-bottom-right-radius: 0rem; */
    }
}
@media screen and (max-width: 760px) {
    .months-container div h1 {
        padding: 0 10px;
        font-size: 2rem;
    }
    .months-container div p {
        padding: 0 1.5rem;
        font-size: 16px;
    }
}

.mentors-container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
}
.mentors-header {
    padding: 0 4rem;
}
.mentors-header p {
    font-size: 14px;    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;}
.mentors {
    height: 100%;
    min-width: 1500%;
    overflow: hidden;
    margin-top: 2rem;
    
}
.swiper-slide {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    min-width: 320px;
    max-height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.swiper-slide img {
    /* width: 100%;
    height: 100%; */
    min-height: 400px !important;
    object-fit: cover;
    object-position: top;
}
.mentor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 200px;
    background-color: #010115d2;
    color:#f4f4f4;
    padding: 2rem 1rem;
    margin-bottom: auto;
    text-align: left !important;
}
.mentor-details h2 {
    font-size: 18px;
    margin-bottom: .5rem;
    width: max-content;
    border-bottom: 2px solid #32FF99;
    line-height: normal;
}
.mentor-details h3 {
    font-size: 18px;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.mentor-details p {
    font-size: 14px;    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 22px;
}
/* .swiper-button-prev {
    color: #000000;
    width: 20px;
} */
@media screen and (min-width: 960px) {
    .mentor-container {
        margin-top: 4rem;
    }
    .mentors-container {
        margin: 0rem 4rem !important;
        margin-top: 2rem;
    }
    .swiper-slide {
        width: 360px;
        min-height: 400px;
    } 

}
@media screen and (max-width: 1050px) {
    .mentors {
        min-width: 1000%;
    }
}
@media screen and (max-width: 760px) {
    .mentor-container {
        /* background-image: url(./Images/Frame\ 1.png); */
        background-position: center;
        background-repeat: no-repeat;

    }
    .mentors-container {
        margin-top: 1rem;
    }
    .mentors-header {
        padding: 1rem 0rem;
    }
    .mentors-header h2 {
        font-size: 20px;
    }
    .mentors {
        min-width: 1000%;
    }
    .swiper {
        width: 100%;
        height: 100%;
      }
    .swiper {
        margin-left: auto;
        margin-right: auto;
      }
      .swiper-slide {
        min-height: 100%;
    }
    .swiper-slide img {
        /* width: 100%;
        height: 100% !important; */
        /* min-height: 400px; */
        object-fit: contain;
        object-position: top/top;
    }
    .mentor-details h2 {
        font-size: 20px;
    }
    .mentor-details h3 {
        font-size: 16px;
    }
    .mentor-details p {
        font-size: 14px;
    }
} 

.faq-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 4rem;
}
.faq-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
}
.faqs   {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 3fr));
    width: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    column-gap: 2rem !important;
    row-gap: 2rem !important;
    justify-items: center;
    padding: 20px 0px;
    margin-top: 2rem;
}
.each-faq-header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 80px; 
    position: relative;
    padding: 20px 20px;
    background-color: #96e9bf;
    border-radius: 5px;
    transition: .4s ease;
}
.each-faq-header:hover {
    background-color: #96e9c050;
    transition: all 0.2s ease;
    transform: scale(1.01);

}
.each-faq-header h6 {
    padding-bottom: 10px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    margin-right: 15px;
}
.faq-active .faq-answer{
    border-top: 2px solid #00000040;
    transition: 0.4s ease-in-out;
} 
.faq-answer {
    display: none;
    padding-top: 10px;
    font-size: 14px;
}
.each-faq-header.faq-active h6 {
    font-weight: 700;
}
.each-faq-header.faq-active .faq-answer {
    display: block;
    padding-top: 10px;
    transition: .8s ease;
}
.each-faq-header button {
    display: flex;
    justify-content: center;
    padding: 0px;
    position: absolute;
    right: 10px;
    background-color: transparent;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition:  0.25s ease;
}
.faq-toggle .faq-close{
    display: none;
}
.faq-active .faq-toggle .faq-close{
    display: block;
}
 .faq-active .faq-toggle .faq-open{
    display: none;
    transition: .8s ease;
}

.faq-toggle .faq-close {
    display: none;
}
.each-faq-header.faq-active {
    background-color: #32ff986e;

}
.each-faq-header .iconify {
    font-size: 1.4rem;
    color: #02031f;
    opacity: 0.9;
}
@media screen and (min-width: 960px) {
    .faqs {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .each-faq-header {
        width: inherit;
    }
    .faq-container{
        margin-top: 1rem;
    }
}
@media screen and (max-width: 760px) {
    
    .faqs {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-column-gap: 0rem !important;
        column-gap: 1rem;
        row-gap: 2rem !important;
        padding: 1rem 0px;
    }
    .faq-header {
        align-self: flex-start;
        padding: 0px;
    }
    .faq-header h2 {
        font-size: 20px;
    }
    .each-faq-header {
        align-self: center;
        width: 100%;
    }
    .faq-container, .mentor-container {
        padding: 2rem 1rem;
        padding-top: 4rem;
    }
}

.scroll-up button {
    position: fixed;
    bottom: 90vh;
    right: 1rem;
    font-size: 3rem;
    background-color: transparent;
    color: #32FF99;
    outline: none;
    border: none;
    margin: auto;
    align-items: center;
    cursor: pointer;
    z-index: 11;
    transition: 0.4s ease;
    visibility: hidden;
}
.scroll-up button:hover {
    color: #fff;
    transition: 100ms ease;
    transform: scale(0.99);
}
.scroll-up button.active {
    right: .5rem;
    bottom: 10px;
    visibility: visible;
    transition: 0.6s ease;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    margin: 0rem 0;
    height: 100%;
}
.newsletter {
    display: flex;
    justify-content: center;
    background-color: #02031f;
    color: #f4f4f4;
    padding: 4rem 20px;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
}
.newsletter-img {
    width: 100%;
    overflow: hidden;
    flex-basis: 50%;
}
.newsletter-img img {
    object-position: center center;
    object-fit: cover;
    width: 100%;
    align-items: center;
    align-self: center;
}
.newsletter-form {
    margin: auto 0;
    align-items: center;
    text-align: center;
    flex-basis: 50%;
}
.newsletter-form h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: .4rem;
}
.newsletter-form p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.newsletter-form form {
    display: flex;
    margin-top: 1rem;
    padding: 0 10px;
}
.newsletter-form form input {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 2px solid #32FF98;
    outline: none;
    border-radius: 5px;
    margin-left: 5px;
    transform: scaleX(1.07);
    transition: 0.5s ease-in-out;
    flex-basis: 70%;
}
.newsletter-form form input:hover {
    background-color: transparent;
    color: #f4f4f4;

}
.newsletter-form form button {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 10px;
    background-color: #32ff98;
    border: 2px solid #32FF98;
    outline: none;
    border-radius: 5px;
    margin: none;
    width: min-content;
    transition: 0.5s ease-in-out;
    flex-basis: 30%;
}
.newsletter-form form button:hover {
    background-color: transparent;
    color: #f4f4f4;
}
@media screen and (min-width: 960px) {
    .newsletter {
        max-height: 400px;
    }
    .newsletter-img {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 760px) {
    
    .newsletter-container {
        padding: 2rem 1rem !important;
    }
    .newsletter {
        flex-direction: column;
        padding: 4rem .5rem;

    }
    .newsletter-form {
        width: 100%;
        margin: 2rem 0;
        margin-bottom: 4rem;
        padding: 0;
    }
    .newsletter-img {
        padding: 0 2rem;
    }
}

.divider-dash {
    width: 100%;
    display: flex;
    align-items: center;
}
.divider-dash.dash-top {
    justify-content: flex-start;
    margin: 4rem 0;
    padding: 0;
}
.divider-dash.dash-bottom {
    display: flex;
    flex-direction: row-reverse;
    margin: 2em 0;
    margin-top: 4rem;
}
.dash {
    width: 70%;
    height: 3.5px;
    background-color: #f4f4f4;
}
.divider-dash .iconify {
    font-size: 2.5rem;
    color: #f4f4f4;
}
.dash-top .iconify {
    padding: 0;
    margin-left: -5px;
}
.dash-bottom .iconify {
    padding: 0;
    margin-right: -5px;
}
@media screen and (max-width: 500px) {
    
    .newsletter-container {
        padding: 2rem 10px;
    }
}
footer {
    color: #f6f6f6;
    background: url(./Images/Desktop\ -\ 3.png);
    /* background-color: #f8f8f8; */
    color: #121212;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 2rem;
    margin-top: 0rem;
}
.footer-main-section {
    display: flex;
    justify-content: left;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 0px;
    overflow: hidden;
}
.footer-text {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    margin: 0 4rem;
}

.footer-img {
    display: none;
    flex-basis: 30%;
    width: 100%;
    padding: 0;
}
.footer-img img {
    object-position: center;
    object-fit: cover;
    width: fit-content;
    height: fit-content;
}
.quick-links, .contact-us {
    display: flex;
    flex-direction: column;
}
.quick-links h3, .contact-us h3 {
    margin-bottom: 0rem;
}
.quick-links li, .contact-us  li{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #08095B;
    font-weight: 500;
    margin-top: 5px;
}
.quick-links li:hover, .contact-us  li:hover,.quick-links li a:hover, .contact-us  li a:hover{
    color: #32FF99;
    transform: translateY(1.5);
}
.contact-us  li {
    display: flex;
    align-items: center;
}
.contact-us li .iconify {
    width: 1.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}
.quick-links li a, .contact-us li a {
    color: #08095B;
    text-transform: lowercase;
}
.quick-links button {
    width: 120px;
    padding: 10px;
    background-color: #32FF99;
    color: #08095B;
}
.quick-links button:hover {
    background-color: transparent;
    color: #08095B;
}
.logo {
    display: block;
    width: 100%;
}
.logo img {
    width: 100%;
    max-width: 150px;
}
.all-rights {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    text-align: left;
}
.all-rights p {
    font-size: 12px;
    min-width: fit-content;
    text-align: left;
    margin: auto;
}
.all-rights .dash-footer {
    margin-top: 0;
}
.all-rights .dash-top {
    margin: 0;
}
.all-rights .dash {
    background-color: #121212;
}
.all-rights .divider-dash .iconify {
    color: #121212;
}
@media screen and (min-width: 760px) {
    .footer-main-section {
        align-items: flex-start;
    }
    .footer-text {
        flex-basis: 50%;
        /* margin: auto; */
    }
    .footer-img {
        width: 100%;
        align-self: center;
        margin-left: 4rem;
        flex-basis: 50%;
    }
}
@media screen and (max-width: 760px) {
    footer {
        background: url(./Images/Android\ -\ 3.png);
        background-blend-mode: multiply;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 35vh;
        padding: 15px;
    }
    .footer-main-section {
        justify-content: center;
        flex-direction: column-reverse;  
        position: relative;
        padding-bottom: 20px;
     }
     .footer-text {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 5rem;
        align-items: center;
        text-align: center !important;
     }
     .contact-us-links{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center !important;
     }
     .logo {
        position: absolute;
        left: 0%;
        bottom: 0rem;
    }
    .logo img {
        max-width: 100px !important;
    }
    .all-rights {
        margin-bottom: 1rem;
    }

}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap'); */

.slider {
    font-family: 'gilmer-gold';
    background-color: #10101E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.intro {
    font-family: 'gilmer-gold';
    background-color: #fff;
    color: #08095be0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 2.5rem;
    padding: 0 10px;
    z-index: 11;
    text-transform: capitalize;
}
.intro-text {
    font-family: 'gilmer-gold';
    font-weight:900;
    font-size: 4rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: bolder;
}
.text img {
    width: 400px;
}
.tech {
    display: flex;
    align-items: center;
}
.tech-design {
    padding: 2px 3rem;
    background-color: #32FF99;
    font-weight: bolder;
    border-radius: 5px;
    margin-left: 1rem;
}
@media screen and (max-width: 600px) {
    .intro-text {
        font-size: 4rem;
        font-weight: bolder;
    }
    .text {
        font-size: 1.6rem;
    }
    .text img {
        width: 200px;
    }
    /* .text div {

    } */
}
@media screen and (max-width: 350px) {
    .intro-text {
        font-size: .4rem;
    }
    .text {
        font-size: 1.5rem;
    }
}   
.hide {
    background-color: #fff;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}


/* --------------ENROLL PAGE --------------*/
.enroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    height: 100vh;
    padding: 20px;
}
.enroll-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background-color: #fff;
    width: 90%;
    max-width: 100%;
    min-height: 580px;
    margin: auto;
    box-shadow: 0 14px 28px rgba(95, 95, 95, 0.25), 0 10px 10px rgba(122, 122, 122, 0.25);
    border-radius: 20px;
    padding: 1rem;
    overflow: hidden;
    position: relative;
}
.enroll-header p {
    font-size: 14px;
}
.back-home-btn {
    display: none;
}
.enroll-form {
    display: flex;
    flex-direction: column;
    background-color: #10101E;
    color: #f4f4f4;
    flex-basis: 50%;
    width: 100%;
    padding: 0rem 2rem;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    height: 100%;
}
.enroll-header {
    margin-bottom: 1rem;
}
.enroll-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.main-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: auto;
}
.main-form div {
    margin-bottom: 1rem;
    overflow: hidden;
}
.main-form input {
    padding: 10px 2rem;
    padding-left: 10px;
    margin-top: .5rem;
    border-radius: 5px;
    border: 2px solid #32FF99;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #f6f6f6;
    overflow: hidden;
    transition: 0.6s ease-in;
}
.main-form input:hover {
    border-color: #32FF99;
}
.main-form p {
    font-size: 14px;
}
.main-form input::placeholder {
    font-size: 14px;
}
.select {
    margin-top: 1rem;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: transparent;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#6a6a6a;
    cursor:pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 2rem;
    padding-left: 10px;
    line-height: 3;
    background: transparent;
    border: 1.5px solid #32FF99;
    border-radius: 5px;
    overflow: hidden;
 }
 .select::after {
    content: url('https://api.iconify.design/icon-park/drop-down-list.svg?width=30&height=30');
    position: absolute;
    top: 0%;
    right: 0;
    padding: 5px .5em;
    background: #ffffff;
    color: #32FF99;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 
 /* .select:hover::after {
    color: #000000;
   padding: 10px 2rem;
} */
.enroll-btn {
    font-weight: 800;
    width: fit-content;
    margin: auto;
    padding: 10px 4rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #f4f4f4;
}
.enroll-btn:hover {
    background-color: transparent;
    border-color: #32FF99;
    color: #fff;
    transform: scale(0.95);
    transition: .4s ease;
}
.disclaimer {
    margin-top: 0.2rem;
}
.disclaimer p {
    font-size: 12px;
}
.silico-name {
    display: none;
}
.enroll-logo {
    display: flex;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    width: 90px;
    background-color: #fff;
    position: absolute;
    top: .8rem;
    left: .8rem;
}
.enroll-logo img {
    width: 100%;
}
.enroll-logo .iconify {
    display: none;
}
.enroll-logo-why {
    display: none;
}
.why-silicio {
    background: none;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #02031f;
    text-align: center;
    padding: 0 2rem;
    display: block;
    overflow: hidden;
    margin: auto;
}
.why-silicio-qoute {
    width: 100%;
    margin-top: 2rem;
}
.why-silicio-qoute img {
    object-fit: cover;
    object-position: center;
}
.enroll-text {
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    color: #08095B;
}
.enroll-text p {
    font-family: 'Poppins', sans-serif;
}
.enroll-text-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 5px !important;
    text-align: center;
}
.enroll-text-btn button {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #32FF99;
    border: 2px solid #32FF99;
    box-shadow: 0 0px 6px rgba(90, 90, 90, 0.25), 0 0px 6px rgba(82, 82, 82, 0.25);
    outline: none;
    color: #02031f;
    font-size: 14px;
    align-items: center;
    text-align: center;
    width: 240px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-weight: 800;
}
.enroll-text-btn button:hover {
    background-color: transparent;
    border-color: #f4f4f4;
    color: #f4f4f4;
    transform: scale(0.95);
    transition: .4s ease;
}
.enroll-text button .iconify {
    font-size: 2rem;
}
.enroll-text button p {
    font-weight: 800;
}
.enroll-text-btn .next-btn {
    display: none;
    background-color: transparent;
    background-color: #32FF99;
    border: 2px solid #32FF99 ;
    /* box-shadow: none; */
}
.progress-sign {
    display: none;
}
.slider-container {
    display: none;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 966px) {
    .enroll-page-container {
        padding: 2rem;
    }
    .enroll-form {
        transform: translateX(0) !important;
        flex-basis: 50%;
    }
    .why-silicio {
        flex-basis: 50%;
    }
    .enroll-form-div {
        margin: auto;
    }
    #next-btn {
        display: none;
    }
    .enroll-logo {
        position: absolute !important;
        top: .5rem;
        left: .5rem;
    }
}
@media screen and (max-width: 960px) {
    .enroll-page-container {
        width: 100%;
    }
    .enroll-logo {
        width: 90px;
    }
}

@media screen and (max-width: 760px) {
    .main-form input {
        border: 1px solid #32FF99;
    }
    .enroll {
        padding: 0;
        border-radius: 0;
        height: 200%;
    }
    .enroll-form-div {
        margin: auto;
    }
    .enroll-page-container {
        background-color: #fff;
        flex-direction:row-reverse;
        justify-content: center;
        width: 200%;
        align-items: center;
        min-height: 100vh;
        border-radius: 0;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        overflow: hidden;
    }
    .back-home-btn {
        display: block;
        position: absolute;
        top: 4% !important;
        right: 8% !important;
        transform: translateX(-8%) !important;
        transform: translateY(-4%) !important;
        font-size: 3rem;

        color: #fff;
    }
    .back-home-btn a {
        background-color: transparent;
        color: #fff;
    }
    .back-home-btn a:hover {
        color: #32FF99;
    }
    .enroll-form {
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100vh;
        background-color: #fff;
        color: #02031f;
        border-radius: 0;
        padding: 0 0.5rem;
        margin: 0;
        overflow: hidden;
        display: none;
        transition: all 0.4s ease;
        z-index: 111;
    }
    .enroll-form-div {
        padding: 0 1rem;
        margin: auto;
        margin-top: 1rem;
    }
    .main-form input {
        color: #08095B;
    }
    .main-form input:hover {
        border: 2px solid #08095B;
    }
    /* .select::after {
        display: none;
    } */
    .enroll-header {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .enroll-logo {
        display: flex;
        justify-self: center;
        width: 100%;
        justify-content: space-between;
        position: relative;
        background-color: #fff;
        margin-left: -10px;
        margin-top: .5rem;
        padding: 10px 0 !important;
        box-shadow: -2px -1px 35px -15px rgba(0,0,0,0.75);
        -webkit-box-shadow: -2px -1px 35px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px -1px 35px -15px rgba(0,0,0,0.75);
    }
    .enroll-logo img {
        position: relative;
        width: 40px;
        margin-right: 1.5rem;
    }
    .enroll-logo button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .enroll-logo .iconify {
        display: block;
        font-size: 2.4rem;
        color: #08095be1;
        margin-left: 1.5rem;
    }
    .enroll-logo-why {
        position: absolute;
        background-color: transparent;
        width: 90%;
        left: 45%;
        transform: translateX(-42.5%);
        padding: 0;
        z-index: 1;
    }
    .enroll-logo-why button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .enroll-logo-why img{
        display: none;
    }
    .enroll-logo-why .iconify {
        color: #fff;
        font-size: 3rem;
        margin-left: 0;
        cursor: pointer;
    }
    .enroll-btn-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 0;
    }
    .enroll-btn {
        padding: 12px 7rem;
        background-color: #32FF99;
        border: 2px solid #32FF99;
        margin: 10px auto;
        cursor: pointer;
        box-shadow: -2px -1px 35px -15px rgba(53, 53, 53, 0.75);
        -webkit-box-shadow: -2px -1px 35px -15px rgba(53, 53, 53, 0.75);
        -moz-box-shadow: -2px -1px 35px -15px rgba(53, 53, 53, 0.75);
    }
    .enroll-btn:hover {
        transform: translate(0.96);
        color: #02031f;
    }
    .enroll-btn-div .progress-sign {
        margin: 0 auto;
    }
    .silico-name {
        display: block;
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
        bottom: 0;
        background-color: #fff;
        padding: .5rem 3rem;
        border-radius: 10px;
    }
    .silico-name img {
        object-fit: contain;
        object-position: center;
        width: 120px;
        height: 40px;

    }
    .why-silicio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
        height: 100vh;
        padding: 0rem 0rem !important;
        overflow: hidden;
        color: #f4f4f4 !important;
        position: relative;
    }
    .why-silicio-qoute {
        display: none;
        height: fit-content;
        min-width: 99%;
        overflow: hidden;
    }
    .why-silicio-qoute img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .enroll-text {
        display: none;
        flex-direction: column;
        height: 100%;
        flex-basis: 50%;
        margin-top: auto;
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
    }
    .enroll-text h2 {
        font-weight: 800;
        overflow: hidden;
        margin-bottom: 1rem;
        word-wrap: normal;
    }
    .silicio {
        background-color: #32ff98;
        border-radius: 5px;
        padding: 3px 1rem;
        color: #08095B;
       line-height: 3.5rem;
       width: max-content;
    }
    .enroll-text-p{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 2rem;
        position: absolute;
        left: 0;
        padding: 0 3rem;
    }
    .enroll-text-btn {
        position: relative;
        display: none;
        flex-direction: column;
        height: 100%;
        flex-basis: 50%;
    }
    .enroll-text-btn .next-btn {
        display: block;
        width: 80%;
        padding: 12px;
        margin: 0 auto;
        margin-top: 2rem;
        box-shadow: 0 14px 28px rgba(49, 49, 49, 0.25), 0 10px 10px rgba(46, 46, 46, 0.25);
        cursor: pointer;
        margin-bottom: 2rem;
    }
    .enroll-text-btn .previous-btn {
        display: none;
    }
    .enroll-text .home-btn {
        background-color: transparent;
        color: #f4f4f4;
    }
    .progress-sign {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 1rem;
        width: 160px;
        max-height: 3;   
    }
    .progress {
        background-color: #ffffff;
        width: 40px;
        height: 3px;
        border-radius: 0px;
    }
    .progress-apply .progress{
        background-color: #0000002a;
    }
    .progress.progress-1 {
        width: 70px;
        background-color: #32ff98;
    }

    .why-silicio-slider {
        display: block;
    }
    .slider-container {
        display: flex;
        justify-content: center;
        min-width: 100%;
        height: 100vh;
    }
    .enroll-text.enroll-text-slider {
        display: block;
    }
    .slides-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        align-items: center;
        position: absolute;
        left: 0%;
        top: 0;
        height: 100vh;
        width: 100%;
        color: #f4f4f4;
    }
    .slides-content-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;
        min-height: min-content;
    }
    .slide{
        display: flex;
        opacity: 0;
        min-height: 100vh;
        min-width: 100vw;
        background-color: rgba(112, 85, 85, 0.7);
        background-blend-mode: multiply;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.4s ease;
    }
    .slide.active {
        opacity: 1;
    }
    .enroll-text-btn.enroll-btn-slider {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-basis: 50%;
        width: 100%;
        margin-bottom: 0rem;
    }
}
@media screen and (max-width: 450px) {
    .enroll-text-p{
        padding: 1rem 1.5rem;
        font-weight: 400;
    }
    
}
.successful-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #08095B;
    text-align: center;
    padding: 0 2rem;
    background-color: #fff;
    width: 50%;
    max-width: 100%;
    min-height: 110vh;
    margin: auto;
    box-shadow: 0 14px 28px rgba(95, 95, 95, 0.25), 0 10px 10px rgba(122, 122, 122, 0.25);
    padding: 2rem 1rem;
    overflow: hidden;
}
.success-header {
    margin-bottom: 2rem;
    overflow: hidden;
}
.success-header h1 {
    color: #08095B;
}
.success-p {
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    font-weight: 500;
    overflow: hidden;
}
.success-img {
    width: 100%;
    overflow: hidden;
}
.success-img img{
    max-width: 250px;
}
.success-footer .progress-sign {
    display: flex;
}
.contact-us-success {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}
.contact-us.contact-us-success p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
}
.contact-us.contact-us-success div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: .4rem;
    text-align: center;
    overflow: hidden;
}
.contact-us.contact-us-success div li {
    margin-right: 1rem;
    overflow: hidden;
}
.successful-sign-up button {
    padding: 12px;
    width: 90%;
    margin: 2rem;
    background-color: #32FF99;
    border: 2px solid #32FF99;
    border-radius: 5px;        box-shadow: -2px -1px 35px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 35px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 35px -15px rgba(0,0,0,0.75);box-shadow: 0 0px 6px rgba(90, 90, 90, 0.25), 0 0px 6px rgba(82, 82, 82, 0.25);
    outline: none;
    color: #02031f;
    font-size: 14px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    overflow: hidden !important;
}
.successful-sign-up button:hover {
    background-color: transparent;
    border-color: #32ff98;
    transform: scaleX(0.98);
    transition: .4s ease;
} 
.success-footer {
    position: relative;
    width: 100%;
    overflow: hidden;
}
@media screen and (max-width: 768px) {

    .successful-sign-up {
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100vh;
        background-color: #fff;
        color: #02031f;
        border-radius: 0;
        padding: 2rem 1rem;
        margin: 0;
        overflow: hidden;
    }
}